<div class="body">

  <section class="main-container">
    <div class="container">

      <md-toolbar class="header">
        <div class="ps-menu-button-conteiner">
          <md-button class="md-icon-button ps-menu-btn" @click="toggleSidenav">
            <md-icon>menu</md-icon>
          </md-button>
        </div>
        <div class="ps-logout-button-conteiner">
          <md-button class="md-raised md-primary ps-logout" @click="logout">
            <md-icon>exit_to_app</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-sidenav class="main-sidebar md-left md-fixed" md-swipeable ref="main-sidebar">
        <md-toolbar class="ps-logo" md-theme="default">
          <router-link exact to="/">
            <span>Project statistic</span>
          </router-link>
        </md-toolbar>

        <div class="main-sidebar-links">
          <md-list class="md-dense">
            <md-list-item>
              <router-link to="/pages/games/allgames" @click.native="allGames()">Игры</router-link>
              <md-button class="md-icon-button md-primary" @click="addGame()">
                <md-icon>add</md-icon>
              </md-button>
            </md-list-item>
            <md-list-item>
              <router-link to="/pages/teams/formed">Команды</router-link>
              <md-button class="md-icon-button md-primary">
                <md-icon>add</md-icon>
              </md-button>
            </md-list-item>
            <md-list-item>
              <router-link to="/pages/invites">Приглашения в команды</router-link>
              <md-button class="md-icon-button md-primary">
                <md-icon>add</md-icon>
              </md-button>
            </md-list-item>
            <md-list-item>
              <router-link to="/pages/matches">Матчи</router-link>
              <md-button class="md-icon-button md-primary">
                <md-icon>add</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </div>
      </md-sidenav>

      <div class="main-content">
        <transition name="md-router" appear>
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </section>
</div>
