<section>
    <form>
        <game-select :required="true" @change="changeGame" ref="gameSelect" />
        <div class="card-holder">
            <md-card v-for="(teamScore, index) in teamScores" :key="teamScore.id">
                <md-card-header v-if="index == 0">
                    Моя команда
                </md-card-header>
                <md-card-content>
                    <team-select 
                    :required="true" 
                    :gameID="game.id" 
                    :memberID="index == 0 ? profileID : undefined" 
                    @change="selectedTeam => changeTeam(selectedTeam, index)"
                    />
                    <md-input-container :class="{'md-input-invalid': errors.has('teamScore')}">
                        <label>Счет</label>
                        <md-input type="number" :max="game.scoreToWin" :min="0" v-model="teamScores[index].score" data-vv-name="teamScore" v-validate="'required|numeric'"></md-input>
                        <span class="md-error">{{ errors.first('teamScore') }}</span>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <span class="md-error">{{ cause }}</span>
        </div>

        <md-button class="md-primary" @click="submit">Создать</md-button>
        <md-button class="md-primary" @click="clearInput">Отчистить</md-button>
        <api-errors :apiErrors="apiErrors" ref="snackbar"></api-errors>
    </form>
</section>
