<section>
    <form>
        <game-select :required="true" @change="changeGame" ref="gameSelect" />
        <div v-if <div class="card-holder">
            <md-card v-for="(teamScore, index) in teamScores" :key="teamScore.id">
                <md-card-header v-if="index == 0">
                    Моя команда
                </md-card-header>
                <md-card-content>
                    <team-select
                        :required="true"
                        :gameID="game.id"
                        :memberID="index == 0 ? profileID : undefined"
                        @change="selectedTeam => chageTeam(selectedTeam, index)" />
                    <md-input-container>
                        <label>Счет</label>
                        <md-input type="number" :max="game.scoreToWin" :min="0" v-model="teamScores[index].score"></md-input>
                    </md-input-container>
                </md-card-content>
            </md-card>
        </div>

        <md-button class="md-primary" @click="create">Создать</md-button>
        <md-button class="md-primary" @click="clearInput">Отчистить</md-button>
    </form>
</section>
