<section>
    <form>
        <md-input-container ref="name" :class="{'md-input-invalid': errors.has('name')}">
            <label>Название</label>
            <md-input v-model="name" required data-vv-name="name" v-validate="'required'"></md-input>
            <span class="md-error">{{ errors.first('name') }}</span>
        </md-input-container>
        <game-select :required="true" @change="changeGame" ref="gameSelect" />

        <user-select v-for="(user, index) in users" ref='users' :required="true" @change="selectedUser => chageUser(selectedUser, index)"
            :key="index" />
        <span class="md-error">{{ cause }}</span>
        <div class="btns">
            <ps-errors :psErrors="apiErrors"></ps-errors>
            <md-button class="md-primary" @click="submit">Создать</md-button>
            <md-button class="md-primary" @click="clearInput">Очистить</md-button>
        </div>
    </form>
</section>
