<section>
  <div class="card-holder cursor-pointer">
    <md-card v-for="team in teams" :key="team.id" :class="[{ forming: team.formingStatus == 'FORMING' }]" @click.native="onClick(team)" md-with-hover>
      <md-card-header>
        <div class="md-title">{{team.name}}</div>
      </md-card-header>

      <md-card-content>
        <div>Игра: {{team.game.name}}</div>
        <div v-if="team.formingStatus == 'FORMED'">Рейтинг: {{getTeamStat(team)}}%</div>
      </md-card-content>
    </md-card>
  </div>
</section>
