<section>
    <div class="card-holder cursor-pointer">
        <md-card v-for="team in teams" :key="team.id" @click.native="routeToTeam(team)" md-with-hover>
            <md-icon v-if="isForming(team)" class="md-fab md-fab-top-right md-accent">build</md-icon>
            <md-card-header>
                <div class="md-title">{{team.name}}</div>
            </md-card-header>

            <md-card-content>
                <div>Игра: {{team.game.name}}</div>
                <div v-if="isFormed(team)">Рейтинг: {{getTeamStat(team)}}%</div>
            </md-card-content>
        </md-card>
    </div>
</section>
