<section>
    <div class="card-holder cursor-pointer">
        <md-card v-for="match in matches" @click.native="routeToMatch(match)" :key="match.id" md-with-hover>
            <md-icon v-if="isMemberOfWinnerTeam(match)" class="md-fab md-fab-top-right md-primary ">trending_up</md-icon>
            <md-icon v-else class="md-fab md-fab-top-right md-accent ">trending_down</md-icon>
            <md-card-content>
                <div>Игра: {{match.game.name}}</div>
                <div>Участники:
                    <span class="vs-separated-item" v-for="tms in match.teamsMatchScore">{{tms.team.name}}</span>
                </div>
                <div>Победитель: {{match.winnerTeam.name}}</div>
                <div>Время проведения: {{formatDate(match.timestamp)}}</div>
            </md-card-content>
        </md-card>
    </div>
</section>
