@import '~styles/cursor/cursor.scss';

.vs-separated-item + .vs-separated-item:before {
    content: " vs ";
}

.vs-colon-item + .vs-colon-item:before {
    content: " : ";
}

.filter {
  margin-bottom: 8px;
}

.spinner-container {
  padding: 16px;
}
