@import '~styles/card/card.scss';

.card-holder {
    div {
        margin: 8px 0;
    }
}

.vs-separated-item + .vs-separated-item:before {
    content: " vs ";
}

.vs-colon-item + .vs-colon-item:before {
    content: " : ";
}
